*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: #4D3686;
  color: #384028;

  margin: 0;

  height: 100vh;
  flex: 1;
  
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-container {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  max-width: 1150px;

  margin: 0 auto;
  background-color: #eee;
}
@media only screen and (max-width: 768px) {
  .card-container {
    width: 100%;
  }
}
.card-header {
  background: linear-gradient(to right, #8547A1, #E090E3);
  color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.item-container {
  margin: 0 auto;
  margin-top: 1.1rem;
  display: flex;
  align-items: flex-start;
  padding: .3rem;
  border-top: 1px solid #E090E3;
}
.item-container:nth-child(2){
  border-top: none;
}
.item-img {
  max-width: 20% !important;
  object-fit: cover;
  background-position: center center;
  height: 90px;
}
.item-info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  margin-left: 1.1rem;
}
.item-info h3 {
  margin: 0;
}
.price-cont {
  margin-top: 1rem;
  margin-left: 2rem;
  align-self: flex-end;
  padding: .2rem;
}

.select-cont {
  display: flex;
}
.select-cont input {
  width: 40px;
}
.select-cont input:focus {
  outline: none;
  border: none;
}
.select-cont span {
  margin-left: 5rem;
  font-size: 18px;
}

footer {
  margin-top: auto;
  height: 70px;
  width: 100%;
  background: linear-gradient(to bottom, #8547A1, #E090E3);
  display: grid;
  place-items: center;
  color:  #eee;
  font-size: 20px;
  border-radius: 50% 50% 0 0;
}
.tot-cont {
  align-self: center;
  margin-top: 1rem;
  border-top: 2px solid orchid;
  font-weight: 800;
  
  font-size: 16px;
  padding: 1rem;
}

.checkout {
  text-decoration: none;
  color: #eee;
}
#under{
  content: "";
  background-color: #eee;
  height: 2px;
  margin-top: -30px;
  animation: underlined .9s linear infinite;
}
@keyframes underlined {
  0%, 30% {
    width: 0px;
  }
  30%, 60% {
    width: 40px;
  }
  60%, 100% {
    width: 80px;
  }
}
.checkout:hover {
  color: #384028;
}
